
    
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Listado de Equipos</title>
  </head>
<body>

        
     
        <form (ngSubmit)="buscarEquipoPorReferencia()" *ngIf="!isLoading">
            <input type="text" style="color: aliceblue;" name="equipoBuscado" placeholder="Buscar equipo por Referencia" [(ngModel)]="equipoBuscado">
            <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                <i class="material-icons right">send</i>
            </button>
        </form>
        <div *ngIf="isLoading" class="pre-carga">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
        </div>
          
    <div class="imagen-fondo">    
        <div class="table-container" *ngIf="!isLoading"> 
            <div *ngIf="equipoEncontrado" class="equipoEncontrado">
            <table >
                <thead>               
                    <link rel="stylesheet" type="text/css" href="./buscar-equipo.component.css">
                    <tr>                    
                        <th>Referencia</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Pais Origen</th>
                        <th>Altura</th>
                        <th>Anchura</th>
                        <th>Profundidad</th>
                        <th>Peso Volumetrico</th>
                        <th>Peso Real</th>
                        <th>Peso Facturado</th>
                        <th>Posicion Arancelaria</th>
                        <th>Proveedor</th>
                        <th>Apilable</th>
                        <th>Editar</th>
                        <th>Eliminar</th>                
                    </tr>
                </thead>
                <tbody>
                    <tr>                
                        <td>{{equipoEncontrado.Referencia}}</td>
                        <td>{{equipoEncontrado.Descripcion}}</td>
                        <td>{{equipoEncontrado.Marca}}</td>
                        <td>{{equipoEncontrado.PaisEquipo}}</td>
                        <td>{{equipoEncontrado.Altura}}</td>
                        <td>{{equipoEncontrado.Anchura}}</td>
                        <td>{{equipoEncontrado.Profundidad}}</td>
                        <td>{{equipoEncontrado.PesoVolumetrico}}</td>
                        <td>{{equipoEncontrado.PesoReal}}</td>
                        <td>{{equipoEncontrado.PesoFacturado}}</td>
                        <td>{{equipoEncontrado.PosArancelaria}}</td>
                        <td>{{equipoEncontrado.Proveedor}}</td>
                        <td>{{equipoEncontrado.esApilable}}</td>
                        <td>
                            <a routerLink="/administracion/editar-equipo/{{equipoEncontrado.id}}" class="btn">Editar</a>
                        </td>
                        <td>
                            <a routerLink="/administracion/eliminar-equipo/{{equipoEncontrado.id}}" class="btn red">Eliminar</a>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>  
        </div>
</div> 
</div>
<a routerLink="/administracion/crear-equipo" class="btn">Nuevo Equipo</a>
 <br>
 <br>
 

<div class="table-info-container">
<legend style="text-align: center;">Listado de Equipos</legend> 
    <table class="table-info">
        <thead>   
            <link rel="stylesheet" type="text/css" href="./buscar-equipo.component.css">
                <tr>       
                    <th>Referencia</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Pais Origen</th>
                    <th>Altura</th>
                    <th>Anchura</th>
                    <th>Profundidad</th>
                    <th>Peso Volumetrico</th>
                    <th>Peso Real</th>
                    <th>Peso Facturado</th>
                    <th>Posicion Arancelaria</th>
                    <th>Proveedor</th>
                    <th>Apilable</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of listadoRegistros">
                <td>{{e.Referencia}}</td>
                <td>{{e.Descripcion}}</td>
                <td>{{e.Marca}}</td>
                <td>{{e.PaisEquipo}}</td>
                <td>{{e.Altura}}</td>
                <td>{{e.Anchura}}</td>
                <td>{{e.Profundidad}}</td>
                <td>{{e.PesoVolumetrico}}</td>
                <td>{{e.PesoReal}}</td>
                <td>{{e.PesoFacturado}}</td>
                <td>{{e.PosArancelaria}}</td>
                <td>{{e.Proveedor}}</td>
                <td>{{e.esApilable}}</td>
                <td>
                    <a routerLink="/administracion/editar-equipo/{{e.id}}" class="btn">Editar</a>
                </td>
                <td>
                    <a routerLink="/administracion/eliminar-equipo/{{e.id}}" class="btn red">Eliminar</a>
                    
                </td>
            </tr>
    
        </tbody>
    </table> 
</div> 


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>