<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Creacion de Equipo</title>
  <link rel="stylesheet" type="text/css" href="./editar-equipo.component.css">
  <link rel="stylesheet" href="/materialize/css/materialize.min.css">
  
</head>
<body>
  
  <div class="pre-carga"  *ngIf="isLoading">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
   </div>
  
  <form [formGroup]= "fgValidador" (ngSubmit)="EditarEquipo()" class="form-register" *ngIf="!isLoading">
    <h4 style="text-align: center;">Editar Equipo</h4><br>
    <legend>Datos basicos</legend>
     <div class="Grupo-datosBasicos">
        <div class="row">
          <div class="col">
            <label for="Referencia">Referencia</label> <br>
            <input formControlName="Referencia" class="controls" type="text" name="Referencia" id="Referencia">           
          </div>
          <div class="col"> 
            <label for="Descripcion" >Descripcion</label> <br>        
            <input formControlName="Descripcion" style="width: 520px;" class="controls" type="text" name="Descripcion" id="Descripcion" >
            
          </div>        
        </div>

        <div class="row">
          <div class="col">
            <label for="Marca">Marca</label><br>
            <input formControlName="Marca"  class="controls" type="text" name="Marca" id="Marca" >            
          </div>
          <div class="col">
            <label for="PaisEquipo" >Pais de origen</label><br>
            <input formControlName="PaisEquipo"  class="controls" type="text" name="PaisEquipo" id="PaisEquipo" >            
          </div>
          <div class="col">
            <label for="Proveedor">Proveedor</label><br>
            <input formControlName="Proveedor" class="Proveedor" type="text" name="Proveedor" id="Proveedor" >            
          </div>
        </div>

        <div class="row" >            
            <div class="col">
              
              <label style="text-align:left" for="PosArancelaria">Posicion Arancelaria:</label>
              <select class="custom-select" formControlName='PosArancelaria' id="PosArancelaria" name="PosArancelaria" >                            
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="courrier">courrier</option>                
              </select>              
            </div>         
          
              <div class="col">
                <label for="esApilable" style="text-align: left;">Es apilable?</label><br>
                <select formControlName="esApilable" class="controls" list="datalistApilable" id="esApilable" name="esApilable" type="text">
                  <option value="SI">SI</option>
                  <option value="NO">NO</option>                     
                </select>                  
              </div>        
            </div>

      </div><br>
      <legend>Dimensiones y peso</legend>
    <div class="Grupo-datosBasicos">
      <div class="row">
        <div class="col">
          <label for="Anchura">Ancho</label><br>
          <input formControlName="Anchura" class="controls" type="text" name="Anchura" id="Anchura" >
          
        </div>
        <div class="col">
          <label for="Altura">Altura</label><br>
          <input formControlName="Altura" class="controls" type="text" name="Altura" id="Altura" >
          
        </div>
        <div class="col">
          <label for="Profundidad">Profundidad</label><br>
          <input formControlName="Profundidad" class="controls" type="text" name="Profundidad" id="Profundidad" >
          
        </div>
        <div class="col"style="text-align: center" ><br>
           <label for="PesoReal" style="text-align: left;">Peso Real</label><br>
           <input formControlName="PesoReal" class="controls" type="text" name="PesoReal" id="PesoReal" >
        </div>
      </div>
    </div> 
<br>
<br>
    <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit"> EDITAR EQUIPO</button>    
  </form> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
