
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Consulta Cotizacion</title>
</head>
<body>
  <h3>Listado de cotizaciones</h3>
    <div *ngIf="isLoading" class="pre-carga">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
    </div>
    <!--div class="input-group mb-3" class="col-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div><br-->
   
    <table class="table table-success table-bordered table-sm">
        <thead class=" sticky-top table-hover">
            <!--input type="text" class= "form-control" placeholder="Filtrar por Id Siigo" [(ngModel)]="filtroIdUsiario"-->

            <tr class="table align-middle" style="background-color: #17a2b8;">
                <th>Id Siigo</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Asesor</th>
                <th>Referencia</th>
                <th>Cantidad</th>
                <th>Precio -45%</th>
                <th>Precio -40%</th>
                <th>Precio -35%</th>
                <th>Precio -30%</th>
                <th>Precio -25%</th>
                <th>Precio -20%</th>
                <th>Copia</th>
                
                                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let c of ListadoCotizacion" >
                <ng-container *ngIf="c.IdUsuario?.includes(filtroUsuario)">
                    <td> {{c.IdSiigo}} </td>
                    <td> {{c.Fecha | date: 'yyyy/MM/dd - HH:mm'}} </td>
                    <td> {{c.Cliente}} </td>
                    <td> {{c.IdUsuario}} </td>
                    <td> {{c.idEquipo}} </td>
                    <td style="text-align: center;"> {{c.Cantidad}} </td>
                    <td> {{c.Precio1 | number}} </td>
                    <td> {{c.Precio2 | number}} </td>
                    <td> {{c.Precio3 | number}} </td>
                    <td> {{c.Precio4 | number}} </td>
                    <td> {{c.Precio5 | number}} </td>
                    <td> {{c.Precio6 | number}} </td>
                    <td>
                        <a role="button" class="btn btn-primary" (click)="seleccionarCotizacion(c)">Copiar</a>
                    </td>
                    
                      
                </ng-container>                  
            </tr>
        </tbody>
      </table>

 
</body>
</html>