

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!--link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Let browser know website is optimized for mobile-->
    
  </head>

  <body>
    <br>
    <h4 style="text-align: center;">SISTEMA DE COTIZACIÓN  </h4>
    <img src="/assets/Imagenes/logo-ancoltec.png" style="display: block; margin: 0 auto;">
    <!--JavaScript at end of body for optimized loading-->
    <!--script type="text/javascript" src="js/materialize.min.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

