<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
    <title>Cotizar</title>
</head>
<body>                    
            <form class="form-register" [formGroup]= "fgValidador">
                <div class="row" style="color: black;">
                    <div class="col">
                        <label class="dolar-label" >TRM USD: </label>
                        <output> {{ TasaCambio | number }}</output>
                    </div>
                    <div class="col">
                        <label class="dolar-label" >TRM EUR: </label>
                        <output> {{ trmEUR | number }}</output>
                    </div>
                    <div class="col">
                        <label class="dolar-label" >TRM SEK: </label>
                        <output> {{ trmSEK | number }}</output>
                    </div>
                    <div class="col">
                        <label class="dolar-label" id="tasa" >Tasa cotizada: </label>
                        <output> {{ tasa | number }} </output>
                    </div>
                </div><br>
             <legend class="text-center" style="color: aliceblue;">Cotizacion de Equipo</legend>  
             <div class="row" *ngIf="!mostrarDetalle">     
                <div class="col-4">
                    <label for="equipoBuscado"> Referencia</label>
                    <input formControlName="equipoBuscado" class= "form-control" type="text" name="equipoBuscado"  (blur)="buscarEquipoPorReferencia()">                        
                </div>
                <div class="col" *ngIf="equipoEncontrado"> 
                    <label class="form-label">Descripcion</label> <br>                   
                    <output style="border: solid 1px white; padding: 10px;">{{ equipoEncontrado.Descripcion }}</output>                                                            
                </div>
                </div><br>
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-8">
                    <label for="Cliente">Cliente</label>
                    <input formControlName="Cliente" class="form-control" type="text" name="Cliente" id="Cliente" >                    
                </div>
                <div class="col-2 " *ngIf="!mostrarDetalle">
                            <label for="Cantidad">Cantidad</label> <br>  
                            <input formControlName="Cantidad" class="form-control" type="number" name="Cantidad" id="Cantidad" >                                              
                </div>
                <div class="col-2">
                    <label for="IdSiigo">Siigo No.</label>
                    <input formControlName="IdSiigo" class="form-control" type="text" name="IdSiigo" id="IdSiigo" >                    
                </div> 
                 
            </div><br>
                    <div class="row" *ngIf="!mostrarDetalle">                    
                            
                        <div class="col">
                            <label for="PrecioCompra" >Precio de compra</label>
                            <input formControlName="PrecioCompra" class="form-control"type="number" name="PrecioCompra" id="PrecioCompra">                           
                        </div> 
                        <div class="col">
                            <label for="Moneda">Moneda</label>
                            <select formControlName="Moneda" class="form-select">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="SEK">SEK</option>
                              </select>                            
                        </div> 
                            <div class="col"> 
                                <label for="FleteOrigenDestino">Flete Origen-Destino (USD)</label>     
                                <input formControlName="FleteOrigenDestino" class="form-control" type="number" name="FleteOrigenDestino" id="FleteOrigenDestino" step="any" placeholder="Valor en Dolares">                                                     
                            </div>
                            <div class="col">   
                                <label for="CargoCombustible">Cargos de Combustible (%)</label>
                                <input formControlName="CargoCombustible" class="form-control" name="CargoCombustible" id="CargoCombustible" type="number" step="any"/>                                                        
                            </div>


                    </div><br>
                    <div class="row" *ngIf="!mostrarDetalle">        
                        
                        <div class="col">
                            <label for="AlistamientoProveedor">Alistamiento Proveedor (USD)</label>   
                            <input formControlName="AlistamientoProveedor" class="form-control" name="AlistamientoProveedor" id="AlistamientoProveedor" type="number" step="any" placeholder="Valor en Dolares"/>                                                        
                        </div>
                        <div class="col">
                            <label for="FleteLocal">Flete Local (COP)</label>
                            <input formControlName="FleteLocal" class="form-control" name="FleteLocal" id="FleteLocal" type="number" step="any" placeholder="Valor en COP" />                             
                        </div>
                        <div class="col">
                            <label for="AccesoriosLocales">Accesorios Locales (COP)</label> 
                            <input formControlName="AccesoriosLocales" class="form-control" name="AccesoriosLocales" id="AccesoriosLocales" type="number" step="any" placeholder="Valor en COP"/>                            
                        </div>
                        <div class="col">
                            <label for="FormaPago">Forma de pago (%)</label>  
                            <select formControlName="FormaPago" class="form-select" type="number" step="any">                                
                                <option value=3>3%</option>
                                <option value=6>6%</option>
                                <option value=9>9%</option>
                                <option value=12>12%</option>
                            </select>
                                   
                       </div>
                    </div><br>
                    
                    <div class="puestaMarcha mb-3 ">
                        <legend>Costos puesta en marcha (COP)</legend>
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <label for="concepto1">Concepto</label><br>
                                <input formControlName="concepto1" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd1">Valor Und</label>
                                <input formControlName="VlrUnd1" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad1">Cantidad</label>
                                <input formControlName="cantidad1" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total1">Total</label>
                                <input formControlName="total1" class="form-control text-end" type="number" readonly >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto2">Concepto</label>
                                <input formControlName="concepto2" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd2">Valor Und</label>
                                <input formControlName="VlrUnd2" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad2">Cantidad</label>
                                <input formControlName="cantidad2" class="form-control text-center text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total2">Total</label>
                                <input formControlName="total2" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto3">Concepto</label>
                                <input formControlName="concepto3" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd3">Valor Und</label>
                                <input formControlName="VlrUnd3" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad3">Cantidad</label>
                                <input formControlName="cantidad3" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total3">Total</label>
                                <input formControlName="total3" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto2">Concepto</label>
                                <input formControlName="concepto2" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd4">Valor Und</label>
                                <input formControlName="VlrUnd4" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad4">Cantidad</label>
                                <input formControlName="cantidad4" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total4">Total</label>
                                <input formControlName="total4" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto5">Concepto</label>
                                <input formControlName="concepto5" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd5">Valor Und</label>
                                <input formControlName="VlrUnd5" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad5">Cantidad</label>
                                <input formControlName="cantidad5" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total5">Total</label>
                                <input formControlName="total5" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto6">Concepto</label>
                                <input formControlName="concepto6" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd6">Valor Und</label>
                                <input formControlName="VlrUnd6" class="form-control text-end "type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad6">Cantidad</label>
                                <input formControlName="cantidad6" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total6">Total</label>
                                <input formControlName="total6" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto7">Concepto</label>
                                <input formControlName="concepto7" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd7">Valor Und</label>
                                <input formControlName="VlrUnd7" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad7">Cantidad</label>
                                <input formControlName="cantidad7" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total7">Total</label>
                                <input formControlName="total7" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto8">Concepto</label>
                                <input formControlName="concepto8" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd8">Valor Und</label>
                                <input formControlName="VlrUnd8" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad8">Cantidad</label>
                                <input formControlName="cantidad8" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total8">Total</label>
                                <input formControlName="total8" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto9">Concepto</label>
                                <input formControlName="concepto9" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd9">Valor Und</label>
                                <input formControlName="VlrUnd9" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad9">Cantidad</label>
                                <input formControlName="cantidad9" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total9">Total</label>
                                <input formControlName="total9" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="Concepto10">Concepto</label>
                                <input formControlName="concepto10" class="form-control" type="text">
                            </div>
                            <div class="col-3">
                                <label for="VlrUnd10">Valor Und</label>
                                <input formControlName="VlrUnd10" class="form-control text-end" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>
                            <div class="col-2">
                                <label for="cantidad10">Cantidad</label>
                                <input formControlName="cantidad10" class="form-control text-center" type="number" (blur)="CalculoPuestaMarcha()">
                            </div>                            
                            <div class="col-3">
                                <label for="total10">Total</label>
                                <input formControlName="total10" class="form-control text-end" type="number" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <label for="PuestaMarcha">Total Puesta en Marcha</label>
                                <input formControlName="PuestaMarcha" class="form-control text-end" name="PuestaMarcha" id="PuestaMarcha" type="text" [value]="TotalPuestaMarcha | number:'':'es-ES'" readonly />
                              </div>
                              
                        </div>
                    </div>
                    <div class="row">             
                        
                        
                         <div class="col mb-3">
                            <label for="Observaciones">Observaciones</label>
                            <input formControlName="Observaciones" class="form-control" name="Observaciones" id="Observaciones" type="text" />
                                
                        </div>  
                    </div>  <br>
                    <h3>Precios de venta COP:</h3>
                    <div class="puestaMarcha mb-3">
                        <div class="row">
                            <div class="col" id="Precio1">
                                Precio1 (0,55)  {{Precio1| number}}
                            </div>
                            <div class="col" id="Precio2">
                                Precio2 (0,6)  {{Precio2| number}}
                            </div>
                            <div class="col" id="Precio3">
                                Precio3 (0,65)  {{Precio3| number}}
                            </div>
                            <div class="col" id="Precio4">
                                Precio4 (0,7)  {{Precio4| number}}
                            </div>
                            <div class="col" id="Precio5">
                                Precio5 (0,75)  {{Precio5| number}}
                            </div>
                            <div class="col" id="Precio6">
                                Precio6 (0,8)  {{Precio6| number}}
                            </div>
                        </div>
                    </div><br>
                    <h3>Precios de venta USD:</h3>
                    <div class="puestaMarcha mb-3">
                        <div class="row">
                            <div class="col" id="PrecioCant1">
                                Precio1 (0,55)  {{PrecioCant1| number}}
                            </div>
                            <div class="col" id="PrecioCant2">
                                Precio2 (0,6)  {{PrecioCant2| number}}
                            </div>
                            <div class="col" id="PrecioCant3">
                                Precio3 (0,65)  {{PrecioCant3| number}}
                            </div>
                            <div class="col" id="PrecioCant4">
                                Precio4 (0,7)  {{PrecioCant4| number}}
                            </div>
                            <div class="col" id="PrecioCant5">
                                Precio5 (0,75)  {{PrecioCant5| number}}
                            </div>
                            <div class="col" id="PrecioCant6">
                                Precio6 (0,8)  {{PrecioCant6| number}}
                            </div>
                        </div>
                    </div>
                    
        <div class="row">
            <!--div class="col">
                <button [disabled]="!fgValidador.valid || mostrarDetalle" class="btn btn-primary mb-3" (click)="Contabilizar()" >Contabilizar</button>  
            </div>
            <div class="col">
                <button [disabled]="!Contabilizado" (click)="liquidacion()" class="btn btn-primary mb-3" >Liquidar</button>                 
            </div>
            <div class="col">
                <a class="btn btn-primary mb-3"  href="/cotizaciones/asignar-cotizacion" >Nueva</a>  
            </div-->
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning" [disabled]="!fgValidador.valid" (click)="Contabilizar()">Contabilizar</button>
                <button type="button" class="btn btn-danger" [disabled]="!Contabilizado" (click)="liquidacion()">Liquidar</button>
                <button type="button" class="btn btn-primary"  href="/cotizaciones/asignar-cotizacion">Nueva</button>
              </div>
        </div>
                     
        </form>  
    
 <div class="pre-carga"  *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
      
      
    

  
</body>

</html>
          
            
        
        
        