   
.enclosure{
  width: 700px;
  background: #198754;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'verdana';
  box-shadow: 7px 13px 37px #000; 
}
.enclosure b{
  font-size:medium;
  color: #000;
}
.enclosure,output{
  color: aliceblue;
}
.enclosure label{
  color: black;
  
}
.form-register {
  width: 1000px;
  background: #198754;
  padding: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000; 
}
.form-register, input{
  
  font-family: 'verdana';
  background: #198754;
}
.form-register, label{
  color: aliceblue;
}


.mensaje-espera {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
form{
  width: 300px;
  background: rgb(128, 126, 126) ;
  color: white;
  padding: 20px; 
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'verdana';  
}
.pre-carga{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.form-select{
  background-color:#198754 ;
}                 


