.custom-toolbar {
    background-color: green; /* Color de fondo personalizado */
    
  }
  
  .custom-toolbar .nav-wrapper ul {
    display: flex ;
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* Dividir en 4 columnas iguales */
  grid-gap: 8px; /* Separación entre elementos */
  margin-right: -100%;
  }  
  
  .custom-toolbar .nav-wrapper ul li a{
    color:aliceblue;
    
  }
  .custom-toolbar .nav-wrapper a{
    color:aliceblue;
  }

  
  
  
  
  
  